.hotels-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 60%;
    height: 650px;

    margin-left: 20%;
    margin-top: 80px;
    margin-bottom: 55px;
}

.hotels-title {
    display: flex;
    justify-content: flex-start;

}

.hotels-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: center;
}

.hotels-seemore {
    display: flex;
    flex-direction: row;

    width: 25%;
    align-items: center;
    padding-left: 5px;
    gap: 20px;

}

.more {
    color: #296ce4;
    font-size: 16px;
    font-weight: bold;
}

.more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hotels-buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

}

.buttons-icon {
    display: flex;
    background-color: #e0e3e5;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    align-items: center;
    justify-content: center;

}

.hotels-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

.hotels-tab {
    display: flex;
    border: 1px solid #0d203c;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.selected {
    background-color: #0d203c;
    color: white
}

.hotels-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    height: 460px;
}

.hotels-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 10px;
}

.hotels-card-header {
    height: 70%;
    width: 100%;
    position: relative;
}

.hotel-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-reviews {
    display: flex;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 25px;
    gap: 10px;
    width: 150px;
    height: 50px;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}

.pontuation {
    float: left;
}

.icon-review {
    float: right;
}

.hotels-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 5px;
}

.body-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 18px;
}

.body-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.body-middle {
    height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
}

.body-middle h2 {



    width: 90%;
}

.body-down {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100%;
    margin-bottom: 38px;

}



.hotel-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;
    gap: 2px;

}


.rating {
    direction: rtl;
    text-align: center;

}

.rating>span {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 1px;
}

.rating>span:hover,
.rating>span:hover~span {
    background: transparent;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: aquamarine;
    width: 10px;
    height: 10px;
    border: 1px solid aquamarine;
    border-radius: 20px;
}